body {
/*    background: url(../imgs/bg.jpg) no-repeat 0px 0px;*/
    background:linear-gradient(-45deg, #3a2627 0%, #392524 0%, #3a2426 1%, #392423 1%, #382322 2%, #38201e 3%, #372221 3%, #36211e 3%, #39201c 3%, #35221e 4%, #361e1c 4%, #341c1a 6%, #331a16 6%, #361a16 7%, #331b17 7%, #341814 7%, #311915 8%, #301911 8%, #331713 9%, #2e1914 9%, #301713 9%, #2b1613 9%, #2b1615 9%, #2c1412 10%, #2d1513 10%, #271515 11%, #281415 12%, #241512 12%, #261414 12%, #221414 13%, #231314 14%, #211312 15%, #1e1212 16%, #1e1413 16%, #1d1111 16%, #201211 16%, #1e1212 17%, #20120f 17%, #1c1211 17%, #1c1211 21%, #1a1114 21%, #1b1112 23%, #171314 23%, #181216 23%, #181214 27%, #171218 30%, #141319 30%, #141118 30%, #14131b 31%, #14121d 32%, #11141d 32%, #121420 34%, #0f1620 34%, #111423 35%, #0e1623 35%, #0f1724 36%, #0c1a27 37%, #0f1a2c 38%, #0c1c2c 38%, #0c1d31 39%, #0b1e2f 39%, #0e1d32 39%, #0d1e32 40%, #0a1e36 40%, #091d35 40%, #0b1f37 40%, #091f36 40%, #0c2239 40%, #082137 41%, #082038 41%, #092238 41%, #08233e 42%, #09253d 42%, #072541 42%, #06263f 42%, #09243f 42%, #052742 43%, #072740 43%, #082744 43%, #052a47 44%, #072a4a 44%, #012d50 45%, #002e50 46%, #023054 46%, #003255 47%, #003159 47%, #003257 47%, #01325b 47%, #00335e 51%, #003561 51%, #013461 52%, #003664 52%, #013765 53%, #003463 54%, #023866 54%, #003867 55%, #01396a 55%, #003869 56%, #003a6c 56%, #003b6f 62%, #00396e 65%, #003869 65%, #00386b 66%, #013668 66%, #01366a 66%, #003464 67%, #003265 69%, #023061 69%, #002e5f 71%, #002e5a 71%, #002b58 73%, #022954 73%, #002955 74%, #002752 76%, #00254f 76%, #00254c 76%, #00234d 77%, #002248 78%, #011f45 79%, #001e42 79%, #001938 81%, #00142f 84%, #00112b 85%, #00122a 86%, #000f28 86%, #010d23 88%, #000b1f 88%, #000b21 88%, #01091c 89%, #01081b 90%, #000717 90%, #000719 91%, #000614 91%, #010511 92%, #00020f 92%, #00020f 95%, #00030c 95%, #000209 97%, #01010b 100%, #010206 100%, #000209 100%);
    background-attachment: fixed;
    background-size: cover;
    font: 16px 'Ubuntu', sans-serif;
}

* {
    font: 18px 'Ubuntu', sans-serif;
    color: #3d484e;

}

header nav {
    background-color: rgba(0, 0, 0, 0.3);
}

header .logo a {
    font-size: 150%;
    color: #B0BCBF;
    font-family: 'Pacifico', cursive;
    text-shadow: 5px 5px 20px #000;
    margin-left: 0px;
    text-decoration: none;
    transition: 1.3s;
}

header .logo a i {
    color: #B0BCBF;
}

header .logo a:hover {
    text-shadow: 3px 3px 20px #fff;
}

.nav-menu {
    list-style-type: none;

}

.nav-menu {
    margin-top: 20px;
}

.nav-menu li {
    list-style-type: none;
    padding-right: 20px;

}

.nav-menu li a {
    font: 25px 'Ubuntu', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 5px 5px 20px #000;
    color: #8E9A9D;
    transition: 1s;

}


.nav-menu li a:hover {
    color: #619DE5;
}

.nav-menu li a:active {
    color: #AD4C33;
}

@media screen and (max-width: 1080px) {
    .nav_menu_hide {
        display: none;
    }
}

@media screen and (max-width: 1080px) {
    .logo-div p {
        font-size: 70%;
    }
}

.dropdown-toggle {
    display: none;
}


@media screen and (max-width: 1107px) {
    .dropdown-toggle {
        display: block;
    }
}


@media screen and (max-width: 1107px) {
    #nav li,
    #nav a {}
}


div .hide-menu li {
    text-decoration: none;
    list-style-type: none;

}

div .hide-menu li a {
    padding: 0;
    margin: 0;
    font-size: 80%;
}



header .info h1 {
    text-align: center;
    margin-top: 200px;
}

.about_me,
.my_works,
.contacts {
    margin-top: 100px;
    text-align: center;
}

.hr_first {
    height: 1px;
    background: linear-gradient(270deg, #016BB3, #B15138);
    width: 50%;
    margin-top: 0;
    margin-bottom: 5px;
    ;
}

.hr_second {
    height: 1px;
    background: linear-gradient(270deg, #B15138, #016BB3);
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;

}

.about_me img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #000;
    margin-bottom: 30px;
}

.row_2 {
    margin-top: 50px;
}


.my_works img {
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;

}

.contacts iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.registr .form {
    width: 100%;
    height: 40px;
    border-radius: 14px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 20px 10px 20px;
    background: rgba(255, 255, 255, .3);
    border: 3px solid rgba(255, 255, 255, .5);
    color: darkslategray;
}

.registr .form:focus,
.registr textarea:focus {
    border: 3px solid rgba(4, 139, 180, 0.5)
}

.registr textarea {
    width: 100%;
    height: 130px;
    outline: none;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;
    background: rgba(255, 255, 255, .3);
    border: 3px solid rgba(255, 255, 255, .5);
    margin-bottom: 25px;
    color: darkslategray;
}

.registr .btn {
    width: 75%;
    background: rgba(255, 255, 255, .3);
    border-radius: 14px;
    outline: none;
    box-shadow: 3px 3px 15px #000;
    transition: 0.5s;
}

.registr .btn:hover {
    background: rgba(255, 255, 255, .6);
    outline: none;
}

.registr .btn:active {
    background: rgba(255, 255, 255, .1);
}


.social i {
    text-align: center;
    font-size: 50px;
    text-align: center;
    transition: 0.7s;
    color: #111;


}

.social span {
    font-size: 30px;
    color: #111;
    display: inline-block;
    position: relative;
    top: -12px;
}

.social a i:hover {
    color: aqua;

}

.social-btn {
    margin-bottom: 50px;
}
