body {
    font: 14px Roboto;
    flex-flow: column;
    justify-content: center;
}

header::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0c0733;
    opacity: 0.85;
}

header {
    background: url(../img/h_bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
}

header .row {
    padding-top: 15px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

.nav li a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    padding-right: 12px;
    padding-left: 12px;
    text-transform: uppercase;
    transition: 1s;
}

.nav li a:hover {
    color: #00e0d0;
}

header h1 {
    text-align: center;
    color: #fff;
    font: 32px Playfair;
    font-weight: bold;
    margin-top: 150px;
}

h1::after {
    display: block;
    content: '';
    background: #00e0d0;
    height: 1px;
    width: 50px;
    margin: 0 auto;
    margin-top: 15px;
}

.h_content {
    color: #fff;
    font: 14px Roboto;
    font-weight: 300;
    text-align: center;
    margin: 0;
    line-height: 24px;
}

header .h_btn a {
    font: 16px 'Hammersmith One';
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    border-radius: 3px;
    text-decoration: none;
    color: #00e0d0;
    font-weight: 700;
}

header .h_btn {
    text-align: center;
    margin-top: 50px;
}

header .h_btn a {
    padding-left: 20px;
    padding-right: 20px;
}

.slider_btn a {
    display: block;
    text-decoration: none;
    width: 8px;
    height: 8px;
    border: 1px solid #bbbbbd;
    border-radius: 50%;
}

.slider_btn li {
    display: inline-block;
}

.slider_btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.slider_btn ul {
    padding: 0;
    margin-top: 128px;
    margin-bottom: 80px;
}

.slider_btn ._active {
    border: 1px solid #00e0d0;
    background: #00e0d0;
}

.cb_1 .cb_1_btn a {
    font: 16px 'Hammersmith One';
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    border-radius: 3px;
    text-decoration: none;
    color: #00e0d0;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.cb_1_btn {
    margin-top: 40px;
    margin-bottom: 70px;
}

.cb_1 {
    margin-top: 70px;
    ;
}

.cb_1 h2 {
    font: 22px 'Playfair Display';
    font-weight: 700;
    text-transform: uppercase;
}

.cb_1 p {
    font: 14px Roboto;
    font-weight: 300;
    color: #413d4b;
    word-spacing: 10px;
    line-height: 22px;
}

.cb_2 {
    background: url(../img/city_bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
}

.cb_2::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0c0733;
    opacity: 0.85;
}

.cb_2 .p_btn {
    display: flex;
    width: 100px;
    height: 100px;
    border: 3px solid #bbbbbd;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 20px;
    position: relative;
}

.cb_2 .p_btn::before {
    display: block;
    content: '';
    background: url(../img/play.png) no-repeat;
    height: 45px;
    width: 37px;
    position: absolute;
    top: 24px;
    left: 32px;
    z-index: 2;
}

.cb_2 div {
    padding: 0;
}

.cb_2 a {
    font: 16px Roboto;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.cb_2 .wos {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 160px;
}

.cb_3 h2 {
    margin-top: 70px;
    font: 22px 'Playfair Display';
    font-weight: 700;
    text-transform: uppercase;

}

.cb_3 .cb_3_fp::after {
    display: block;
    content: '';
    background: #00e0d0;
    height: 1px;
    width: 50px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cb_3::after {
    display: block;
    content: '';
    background: #00e0d0;
    opacity: 0.2;
    height: 1px;
    width: 100%;
    margin-top: 330px;
    position: absolute;
}

.cb_3 .col-md-4 {
    margin-top: 50px;
}

.cb_3 .col-md-4:nth-child(5),
.cb_3 .col-md-4:nth-child(6),
.cb_3 .col-md-4:nth-child(7) {
    margin-top: 80px;
    margin-bottom: 100px;
}

.cb_3 h4 {
    font: 14px Roboto;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.cb_3_p {
    font: 14px Roboto;
    font-weight: 300;
    word-spacing: 8px;
    line-height: 22px;
}


.cb_4 {
    background: url(../img/cb_4_bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
}

.cb_4::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0c0733;
    opacity: 0.85;
}

.cb_4 h2 {
    margin-top: 70px;
    font: 22px 'Playfair Display';
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.cb_4_fp {
    font: 14px Roboto;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
}

.cb_4 .cb_4_fp::after {
    display: block;
    content: '';
    background: #00e0d0;
    height: 1px;
    width: 50px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cb_4_c img {
    width: 100%;
    border: none;
}

.cb_4 .cb_4_c {
    margin-top: 30px;
    color: #fff;
    margin-bottom: 70px;
}

.cb_4_c p {
    font: 13px Roboto;
    font-weight: 300;
}

.cb_4_c h4 {
    font: 14px Roboto;
    font-weight: 700;
    padding-top: 15px;
}

.cb_4_c div {
    border: 1px solid #fff;
    border-top: none;
}

.cb_4_btn a {
    font: 16px 'Hammersmith One';
    padding: 12px;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    border-radius: 3px;
    text-decoration: none;
    color: #00e0d0;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.cb_4 p {
    font: 13px Roboto;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.cb_4_btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.cb_5_row {
    margin-top: 50px;
}

.cb_5_row h2 {
    font: 22px 'Playfair Display';
    font-weight: 700;
    text-transform: uppercase;
}

.cb_5_row p {
    font: 14px Roboto;
    font-weight: 300;
    padding-left: 15px;
}

.cb_5_row a {
    text-decoration: none;
    color: #000;
    font: 14px Roboto;
    font-weight: 300;
}

.cb_5 img {
    padding: 0;
    margin: 0;
}

.cb_5_row_2 {
    margin-top: 50px;
    margin-bottom: 70px;
}

.cb_5_btn a {
    font: 16px 'Hammersmith One';
    padding: 12px;
    text-transform: uppercase;
    border: 1px solid #00e0d0;
    border-radius: 3px;
    text-decoration: none;
    color: #00e0d0;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
}

.cb_5_btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

.cb_6 {
    background: url(../img/cb_6_bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
}

.cb_6::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0c0733;
    opacity: 0.85;
}

.cb_6 p {
    margin-top: 50px;
    color: #fff;
    font: 16px 'Playfair Display';
    text-align: center;

}

.cb_6 h3 {
    color: #fff;
    text-transform: uppercase;
    font: 14px Roboto;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.cb_6 h4 {
    color: #fff;
    text-transform: uppercase;
    font: 13px Roboto;
    font-weight: 300;
    text-align: center;
    margin-top: 15px;
}

.cb_6 p::before {
    content: '“';
    display: block;
    font: 100px 'Playfair Display';
    color: #fff;
}

.cb_6 ul {
    padding: 0;
}

.cb_6 li {
    margin-left: 7px;
    margin-right: 7px;
}

.cb_6 ul ._active img {
    width: 70px;
    height: 70px;
}

.cb_6 .p_face {
    margin-top: 20px;
    margin-bottom: 30px;

}

.cb_7 h2 {
    margin-top: 70px;
    font: 22px 'Playfair Display';
    font-weight: 700;
    margin-bottom: 36px;
}

.cb_7 input {
    width: 100%;
    height: 45px;
    border: 1px solid #e5e5e5;
    margin-bottom: 25px;
    padding: 20px;
    color: #413d4b;
    font: 14px Roboto;
    opacity: 0.5;
}

.cb_7 textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #e5e5e5;
    resize: none;
    padding: 20px;
    margin-bottom: 20px;

}

.cb_7 textarea::placeholder {
    color: #413d4b;
    font: 14px Roboto;
    opacity: 0.5;
}

.cb_7 .cb_7_btn {
    width: 120px;
    height: 40px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font: 16px 'Hammersmith One';
    background: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

.cb_7 img {
    margin-bottom: 25px;
}

.cb_7 {
    margin-bottom: 50px;
}

.cb_8 {
    background: url(../img/cb_8_bg.png) no-repeat top center;
    background-size: cover;
    position: relative;
}

.cb_8::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0c0733;
    opacity: 0.85;
}

.cb_8 {
    color: #fff;
    font: 14px Roboto;
    font-weight: 300;
    margin-top: 50px;
}

.cb_8 h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.cb_8 p {
    line-height: 26px;

}

.cb_8 .studio p {
    padding-left: 30px;
    position: relative;
}

.cb_8 .col-md-4 {
    margin-top: 70px;
}

.cb_8 .f_logo {
    margin-top: -20px;
}

.cb_8 .tajam p {
    margin-top: 20px;
}

.cb_8 .studio .p_studio_1 {
    margin-top: 35px;
}

.cb_8 ul {
    padding: 0;
    list-style-type: none;
}

.cb_8 .tajam ul {
    margin-top: 90px;
    margin-bottom: 70px;
}

.cb_8 .tajam ul a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}

.cb_8 .tajam ul li {
    margin-left: 35px;
}

.cb_8 .tajam ul li:first-child {
    margin-left: 0;
}

.cb_8 .studio .p_studio_1::before {
    display: block;
    content: '';
    background: url(../img/big104.png) no-repeat;
    height: 19px;
    width: 14px;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 5px;
}

.cb_8 .studio .p_studio_2::before {
    display: block;
    content: '';
    background: url(../img/phone351.png) no-repeat;
    height: 17px;
    width: 17px;
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 5px;
}

.cb_8 .sub {
    height: 45px;
    width: 210px;
    border: 1px solid #e5e5e5;
    background: none;
    padding: 20px;
    color: #fff;
    opacity: 0.5;
}

.cb_8 .sub_btn {
    height: 45px;
    width: 70px;
    background: #fff url(../img/paper.png) no-repeat center center;
    opacity: 0.5;
    border: none;
    padding: 18px;
    position: relative;
    cursor: pointer;
}

.cb_8 form {
    margin-top: 40px;
}


.cb_8 .touch a {
    display: block;
    height: 35px;
    width: 35px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

.cb_8 .touch a {
    padding-top: 10px;
}

.cb_8 .touch ul {
    margin-top: 30px;
}

.cb_8 .touch li {
    margin-right: 7px;
}

.cb_8 .touch p {
    margin-top: 50px;
    margin-left: 65px;
}